nav {
    background-color: #dacccc;
    height: 50px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  
  li {
    padding: 0 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }

  nav a:hover {
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    padding: 5px;
  }